<p class="show_title">
	<strong>Title:</strong> <%= @book.title %>
</p>
<p>
	<strong>Body:</strong> <%= @book.body %>
</p>
<%= link_to "Edit", edit_booker_path(@book),id: "g" %> |
<%= link_to "Back", bookers_path,id: "g" %>
